body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.page-loading-spinner{
  position: fixed;
  left: 50%;
  top: 50%;
}

.authentication-page {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.authentication-form{
  display: flex;
  flex-direction: column;
}

header * {
  margin: 0px 5px;
}